@use '@/styles/abstracts' as *;

.awards[class] {
  ul {
    margin: 0;
    padding-left: 1.2rem;
    list-style: none;

    li {
      margin: 0.35rem 0;
      color: var(--gray-4);
      line-height: 1.6;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: -1rem;
        top: 0.7rem;
        width: 6px;
        height: 6px;
        background-color: var(--gray-4);
        border-radius: 50%;
      }

      .title {
        color: var(--gray-1);
        font-size: 1.2rem;
      }

      .year {
        color: var(--gray-4);
        font-size: 1.1rem;
        white-space: nowrap;
      }
    }
  }
} 