@use '@/styles/abstracts' as *;

.tagListWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tagList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;

  .tagItem {
    margin-top: 4px;
  }

  transition: background-color 0s ease, color 0s ease;
}

.toggleButton {
  align-self: flex-start;
  padding: 3px 12px 4px;
  background-color: transparent;
  color: var(--gray-3);
  border: 1px dashed var(--gray-3);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  @include typo-b5;

  &:hover {
    border-color: var(--primary-c1);
    color: var(--primary-c1);
    border-style: solid;
  }
}
