---
title: About
layout: default
---
<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">
				<!-- Content -->
				<div id="content" class="container">
					<div class="col-sm-offset-2 form-horizontal">
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-4">
								<h1>About</h1>
								<p><strong>{{ site.author.name }} </strong>({{ site.author.nick }})</p>
							</div>
							<div class="col-sm-4">
								<p id="profile-pic"></p>
							</div>
						</div>

						<div class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-4 control-label">
									<h3><strong>Academy</strong></h3>
								</div>
								<div class="col-sm-6">
									<ul>
										{% for academy in site.data.about.academies %}
											<li>
												<h2>{{ academy.name }}</h2>
												<p>{{ academy.desc }}<small>{{ academy.range }}</small></p>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="col-sm-4 control-label">
									<h3><strong>Organization</strong></h3>
								</div>
								<div class="col-sm-6">
									<ul>
										{% for organization in site.data.about.organizations %}
											<li>
												<h2>{{ organization.name }}</h2>
												<p>{{ organization.desc }}</p>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="col-sm-4 control-label">
									<h3><strong>Projects</strong></h3>
								</div>
								<div class="col-sm-6">
									<ul>
										{% for project in site.data.about.projects %}
											<li>
												<h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
												<p>{{ project.desc }}</p>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="col-sm-4 control-label">
									<h3><strong>Contacts</strong></h3>
								</div>
								<div class="col-sm-6">
									<div id="contact">
										<ul>
											{% for contact in site.data.about.contacts %}
												<li><a href="{{ contact.url }}" class="fa fa-{{ contact.icon }}"><span>{{ contact.name }}</span></a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
<!-- /Main -->
