@use '@/styles/abstracts' as *;

.name {
  color: var(--primary-c1);

  @include typo-d1;
}

.heading {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--icon-color); 
  line-height: 1.2;
  gap: .25rem;

  @include tabletAndUp {
    flex-direction: column;
    align-items: flex-start;
  }

  .subText {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--gray-3);
    line-height: 1;

    &::before {
      content: '·';
      color: var(--gray-4);
      padding-right: .25rem;
    }

    @include tabletAndUp {

      &::before {
        content: '';
        padding-right: 0;
      }
    }
  }
}
