
<div id="donate">
    <dl class="clear">
        <dt>
            <i class="fab fa-paypal"></i>
        </dt>
        <dd>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="3VFFRP87X5QR8">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/ko_KR/i/scr/pixel.gif" width="1" height="1">
            </form>
        </dd>
    </dl>
    <dl class="clear">
        <dt>
            <i class="fab fa-bitcoin"></i>
        </dt>
        <dd>
            <small>1Fkd31jz1WkDV2mSHGNtxpLRMZCy31Mm5G</small>
        </dd>
    </dl>
    <dl class="clear">
        <dt>
            <i class="fab fa-ethereum"></i>
        </dt>
        <dd>
            <small>0x8cF271015dDAF1B408735a2cd8A87A5ea484D159</small>
        </dd>
    </dl>
</div>
