<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-main">
  <div class="navbar-wrapper">
    <a class="navbar-brand" href="/{{ site.baseurl }}">Jiun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for item in site.data.menu.left %}
          <li class="nav-item {% if page.menu == item.label %}active{% endif %}">
            <a class="nav-link" href="/{{ site.baseurl }}{{ item.url }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.menu.right %}
          <li class="nav-item {% if page.menu == item.label %}active{% endif %}">
            <a class="nav-link" href="/{{ site.baseurl }}{{ item.url }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
