@use '@/styles/abstracts' as *;

.floatingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  background-color: var(--primary-c1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  z-index: 10;

  &:hover {
    background-color: var(--primary-c2)
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  @include tabletAndUp {
    bottom: 64px;
    right: 64px;
    width: 64px;
    height: 64px;
  }
}

.arrowUpIcon {
  width: 38px;
  height: 38px;
  color: #ffffff;

  @include tabletAndUp {
    width: 52px;
    height: 52px;
  }
}
