.control-label 
{
    margin-top: -5px;
}

.col-sm-10 > ul 
{
    padding-bottom: 10px;
}

#profile-pic 
{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid 1px #eee;
    background: url(https://avatars0.githubusercontent.com/u/7712538?v=3&s=460) no-repeat center center;
    background-size: 80px;
}