/* Font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

/* Clearfix */
.clear:after {
	content: "";
	display: table;
	clear: both;
}
/* Link hover */
.link-trans:hover {
	color: #007bff;
	transition: all 0.3s linear;
}

/* Base */
html, body { height: 100%; }

body {
	font: 16px/1 'Source Sans Pro', Helvetica, Arial, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

nav.navbar-main {
	transition: all 0.5s ease;
	background-color: rgba(255, 255, 255, 1);
}

nav.navbar-main.shrink {
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 2px solid #eee;
}

nav .navbar-wrapper {
	margin: 0 auto;
	width: 768px;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

@media (max-width: 800px) {
	nav #navbarSupportedContent::before {
		height: 2px;
		width: 68px;
		display: block;
		background: #eee;
		content: '';
	}
}

nav li {
	list-style-type:none;
}

#wrapper {
	width: 768px;
	letter-spacing: .05em;
}

@media (max-width: 800px) {
	#wrapper {
	    width: auto;
	    padding: 0 32px;
	}
}

#wrapper {
	margin: 0 auto;
}


p a { color: #5694f1; }

ul 	{ margin:0; padding:0; }
li	{ list-style-type:circle; list-style-position:inside; }

/* Line Height */
#post-body, p { line-height:1.7; }

b, strong { font-weight: 500;
  color: #1E2025; }
em, i { font-style: italic; }

#title {
	display: inline-block;
	line-height: 100%;
	font-weight: 500;
	font-size: 19px;
	margin: 0;
	padding-bottom: 20px;
}

.post header {
	text-align:center;
}

.post h1 {
	margin-bottom: 20px;
	color: #222;
	font: 300 32px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
}

.post h2 {
	margin: 50px 0 35px;
	  font: 300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	  color: #111;
}

.post h2.headline {
	/*font: italic 22px/1.3em Georgia,serif;*/
	font: normal 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: -5px 0 40px 0;
	color: #b2b9be;
	  font-size: 13px;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  /*margin-top: 15px;*/
	  display: inline-block;
}

.post code{
	padding: 2px 3px;
	border-radius: 3px;
	font-size: 15px;
}

#post-list h2 {
	font: normal 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #aaa;
	max-width: 400px;
	margin-top: 2px;
}

h3, h4, h5 { color:#333; }

h3 { font-size:20px; font-weight: 400; }
h4 { font-size:16px; font-weight:bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

p.small {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee;
}

hr {
	display: block;
	border: none;
	height: 1px;
	margin: 20px auto;
	margin-top: 5px;
	background: #eee;
}

span.code { font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px; }

pre	{
	font-family:Menlo, Monaco, Courier;
	white-space:pre-wrap;
	/*border: 1px solid #ddd;*/
	padding:20px;
	background-color:#fdfdfd;
	/*font-size:14px;*/
	overflow:auto;
	border-radius: 3px;
	background: #272b2d;
	  font-family: 'Source Code Pro',Menlo,monospace;
	  font-size: 13px;
	  line-height: 1.5em;
	  font-weight: 500;
	color: #d0d4d7;

}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	font-size: 13px;
	line-height: 1.5em;
}

th,td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr>td {
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

thead th,th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}

img {
	width: 100%;
	max-width: 100%;
	border-radius: 3px;
}

/* Made with Cactus Badge */
#badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 48px;
	width: 48px;
}

/*=========================================
Front cover
=========================================== */
#front-cover {
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

    background-attachment: fixed;
    background-position: center;
}

#front-cover.none {
	margin-top: 64px;
	min-height: 12px;
	box-shadow: inset 0 1px 0 #eee;
}

@media (max-width: 800px) {
	#front-cover.none {
		margin-top: 72px;
	}
}

.cover-center {
	position: absolute;
	text-align: center;
	top: 50%;

	font-size: 48px;
	width: 100%;
}

.cover-center span.wrap {
	margin: 0 auto;
	border-right: 2px solid #eee;
	animation: textCursor 750ms steps(44) infinite normal;
    text-shadow: 0px 0px 3px #333;
}
@keyframes textCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

.cover-text {
	position: absolute;
	margin: 0 auto;
	bottom: 32px;
	left: 32px;
	font-size: 32px;
}
.cover-text p {
	color: #eee;
	font-size: 24px;
}

.cover-bar {
	width: 103px;
	border-top: 5px solid rgba(255, 255, 255, 0.7);
	margin-top: 8px;
}

/*=========================================
Section
=========================================== */
section {
	margin-top: 32px;
}

section ul.post-list li {
	padding-bottom: 16px;
	border-bottom: 1px solid #eee;
}

section ul.post-list li:last-child {
	padding: 0;
	border-bottom: none;
}

#timeline .activity {
}

#timeline svg.calendar-graph-svg text {
	font-size: 10px;
}

#timeline .twitter-timeline {
	wdith: 768px !important;
	height: 500px !important;
}
/*=========================================
About List
=========================================== */
.about .profile {
	margin-top: 32px;
}

.about .profile > div {
	float: left;
}
.about .profile .avatar-wrapper {
	margin: 0 0 0 144px;
}
.about .profile #avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 13px 0;
	float: left;
}
.about .profile .description {
	float: left;
	margin: 5px 0px 5px 32px;
}
.about .profile .description h3 {
	margin: 10px 0 5px;
	text-align: left;
}
.about .profile .description p {
	font-size: 12px;
	margin-bottom: 0px;
	text-align: left;
}
.about .profile .contacts {
	margin: 12px 0 0 32px;
    padding-left: 24px;
    border-left: 1px solid #ccc;
}
.about .profile .contacts table {
	margin: 0 auto;
}
.about .profile .contacts table tr:nth-child(odd)>td {
	background-color: #fff;
}
.about .profile .contacts table tr {
	background-color: #fff !important;
}
.about .profile .contacts table tr > td {
	border: 0;
	padding: 3px 3px;
}
.about .profile .contacts table tr td.icon {
	text-align: center;
	font-size: 16px;
}
.about .profile .contacts table tr td i {
	font-size: 18px;
}
.about .quote {	
	text-align: center;
	margin: 40px;
}
.about dl {
	margin: 12px 0;
	padding: 0;
}
.about dl dt, .about dl dd {
	float: left;
	margin: 0;
	padding: 0;
}
.about dl dt {
	text-align: right;
	display: block;
	font-weight: 800;
	font-size: 20px;
	width: 175px;
	margin-left: 30px;
	margin-right: 30px;
}
.about dl dd ul li {
	list-style: none;
}
.about dl dd ul.item>li {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 2px solid #eee;
	width: 520px;
}
.about dl dd ul li .item-link {
	opacity: 0;
	transition: opacity .3s linear;
}
.about dl dd ul li:hover .item-link {
	opacity: 1;
}
.about dl dd ul li span {
	font-size: 22px;
}
.about dl dd ul li small {
	margin-left: 12px;
	padding-left: 12px;
	border-left: 1px solid #ccc;
	font-size: 14px;
}
.about dl dd ul li .info {
	margin-top: 6px;
	font-size: 16px;
}
.about dl dd ul li:last-child {
	border-bottom: none;
}
.about dl dd ul li ul.detail {
	padding: 14px 0 0 16px;
}
.about dl dd ul li ul.detail>li {
	padding-bottom: 9px;
}
.about dl dd ul li ul.detail>li .info {
	font-size: 14px;
}
.about dl dd ul li ul.description {
	text-align: left;
	padding: 6px 0 0 0;
	margin-left: 16px;
	font-size: 16px;
	line-height: 1.4em;
}
.about dl dd ul li ul.description>li {
	list-style-type: circle;
	padding-bottom: 6px;
}
@media (max-width: 800px) {
	.about .profile .avatar-wrapper {
		margin: 0 auto;
		float: none;
		width: 250px;
		height: 100px;
		margin-bottom: 16px;
	}
	.about .profile .contacts {
		border-left: none;
		border-top: 1px solid #eee;
		padding-top: 16px;
		float: none;
		width: 250px;
		margin: 0 auto;
	}
	.about .profile .contacts table {
		width: auto;
	}
	.about dl dt, .about dl dd {
	    float: none;
	}
	.about dl dt {
	    padding: 10px 0 0 0;
	    margin: 0 auto 15px auto;
	    text-align: center;
	}
	.about dl dd ul.item>li {
		width: auto;
	}
}
/*=========================================
Post List
=========================================== */
.recent-post {
	margin: 32px 0;
}
.recent-post h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
}
.recent-post h1 span {
	background: #fff;
	margin-right: 15px;
	color: rgb(101, 101, 101);
}
.recent-post small {
	float: right;
	margin: 12px 0 0 12px;
	font-size: 12px;
}
.recent-post small a {
	color: #666;
	text-decoration: none;
}
.recent-post h1:after {
	background: #666;
	height: 1px;
	flex: 1;
	content: '';
}
.post-list {
	padding: 16px;
}
.post-list li {
	margin-bottom: 16px;
}
.post-list li:last-child {
	margin-bottom: 0;
}
.post-list li h2 {
	font-size: 24px;
}
.post-list li span {
	font-weight: 300;
}
.post-list a {
	color: #666;
	text-decoration: none;
}
.post-list li {
	list-style-type: none;
}
.post-list li:last-child {
	margin-bottom: 0;
}
.post-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font-weight: 300;
	font-size: 20px;
	color: #bbb;
}

#donate {
	box-shadow: inset 0 1px 0 #eee;
	padding: 32px 0 0 0;
	margin-top: 32px;
	text-align: center;
}
#donate dl dd, #donate dl dt {
	float: left;
    margin: 0;
    padding: 0;
}
#donate dl dt {
	text-align: center;
    display: block;
    font-weight: 800;
    font-size: 20px;
    width: 32px;
    margin-left: 243px;
    margin-right: 30px;
}
@media (max-width: 800px) {
	#donate dl dt, #donate dl dd {
	    float: none;
	}
	#donate dl dt {
	    padding: 10px 0 0 0;
	    margin: 0 auto 15px auto;
	    text-align: center;
	}
}

#footer {
	box-shadow: inset 0 1px 0 #eee;
	padding: 40px 0 0 0;
	margin-top: 64px;
	margin-bottom: 32px;
	text-align: center;
}
#footer h4 {
	color: #aaa;
	font-size: 16px;
}
#footer .description {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
}
#footer .description a{
	text-decoration: none;
}
/* Post Page */
#header {
	border-bottom: 1px solid #eee;
}

#post-meta {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.4;
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	color:#444;
	border-bottom: 1px solid #eee;
}

#post-meta div span {
	color: #aaa;
	font-weight: 500;
	display: block;
}

#post-meta div span.dark {
	color: #1E2025;

}

#post-meta div {
	margin: 0 25px 0 0;
	float: left;
}

#post-meta img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  border-radius: 50%;
  margin: 0 1em;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}


#sharing {
	float: right;
	margin: -2px;
}

#sharing a {
	font-size: 20px;
	font-size: 23px;
	margin-left: 1px;
	margin-top: 4px;
	color: #d4d4d4;
	display: inline-block;
	vertical-align: middle;
}

#sharing a:hover {
	/*color: #444;*/
	opacity: 0.8;
}

/* Post Navigation */
#post-nav {
	border-top:1px solid #eee;
	text-align:center;
	padding-top:20px;
	font-size:13px;
	font-weight:500;
	margin-top: 40px;
}

#post-nav span {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}

#post-nav span.prev {
	float: left;
}

#post-nav span.next {
	float: right;
}

#post-nav span .arrow {
	position: relative;
	padding: 1px;
}

#post-nav span.prev:hover .arrow {
	left: -4px;
}

#post-nav span.next:hover .arrow {
	right: -4px;
}

#post-nav span.prev:hover {
	left: -3px;
}

#post-nav span.next:hover {
	right: -3px;
}

/* Archive */
h1.archive {
	margin-bottom: 0px;
}

h2.month {
	width: 100%;
	font: bold 13px/1 "Helvetica Neue",helvetica,Arial,sans-serif;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#archive-list li:last-child {
	margin-bottom: 0;
}

#archive-list a {
	display: block;
	font: bold 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #333;
}

#archive-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #bbb;
}

#archive-list li a:hover,#archive-list li:hover .dates {
	color: #5694f1;
}

#post-list.archive.readmore h3{

	  font: 400 20px "Helvetica Neue", Helvetica,Arial,sans-serif;
	  margin-bottom: 30px;
}

#post-list.archive.readmore a{
	font: 400 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #5694f1;
}

#post-list.archive.readmore a:hover{
	opacity: 0.8;
}

#post-list.archive.readmore .dates{
	font: 300 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
}
#sharing a.facebook {
  background: #4361b3;
}
#sharing a.twitter {
  background: #4fafed;
}

#sharing a {
  font-size: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 2px;
}

/* Media Queries */
@media screen and (max-width: 540px) {
	#wrapper { padding:20px 20px 20px 20px;}
	#header { margin-bottom: 60px; border-bottom: 1px solid #eee; }
	.post { margin: 40px 0; }
	#footer { margin-top: 60px; }

	#post-list, #archive-list { margin-top: 0; }
	#post-meta { margin-top: 60px; }

	#title { font-size: 17px; }
	#post-list .dates { display: none; }

	#post-list-footer { margin-top: 20px; padding-top: 40px; }

	h1 { font-size: 26px; }
	.post h2.headline { font-size: 13px; }
	.post h1 { font-size:24px; }
	.post h2 { font-size:20px; }
}