@use '@/styles/abstracts' as *;

.header {
  min-width: 300px;
  height: 64px;
  
  &.shrink {
    height: 40px;
    transition: height 0.3s;

    .wrapper {
      padding: 10px 20px;
      transition: padding 0.3s;

      @include tabletAndUp {
        padding: 10px 30px;
      }

      .headingLink {
        .headingWrapper {
          .heading {
            font-size: 1.25rem;
            transition: font-size 0.3s;
          }
        }
      }

      .headerButtons {
        .icon {
          width: 20px;
          height: 20px;
          transition: width 0.3s, height 0.3s;

          @include tabletAndUp {
            width: 24px;
            height: 24px;
          }
        }

        .link {
          font-size: 0.875rem;
          transition: font-size 0.3s;
        }
      }
    }
  }

  &.fixed {
    --header-shadow: 0 2px 4px #00000033;

    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;

    background-color: var(--header-bg);
    box-shadow: var(--header-shadow);

    [data-theme='dark'] & {
      --header-shadow: 0 2px 4px #00000066;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @include tabletAndUp {
      padding: 20px 60px;
    }

    .headingLink {
      text-decoration: none;

      .headingWrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        .heading {
          display: inline-block;
          font-weight: 800;
          font-size: 1.5rem;
          line-height: 1.125rem;
          margin-top: 2px;
          color: var(--icon-color);
        }
      }
    }

    .headerButtons {
      display: flex;
      align-items: center;
      gap: .5rem;

      @include tabletAndUp {
        gap: 1rem;
      }

      .icon {
        width: 26px;
        height: 26px;
        stroke: var(--icon-color);
        transition: width 0.3s, height 0.3s;
      }

      .link {
        text-decoration: none;
        color: var(--icon-color);
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        transition: width 0.3s, height 0.3s;
      }

      .iconButton {
        all: unset;
        cursor: pointer;

        &:focus {
          outline: 2px solid -webkit-focus-ring-color;
          outline-offset: 1px;
          border-radius: 2px;

          &:not(:focus-visible) {
            outline: none;
          }
        }

        .icon path {
          fill: var(--icon-color);
          stroke: var(--icon-color);
        }
      }
    }
  }

  .progressBar {
    width: var(--progress-width);
    height: 2px;
    background-color: var(--primary-c1);
    transition: width 0.3s ease-out;

    &.fixedIndicator {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
}
