@use '@/styles/abstracts' as *;

.projects[class] {
  .project {
    margin-bottom: 1.5rem;
    padding: 0.25rem;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      display: block;

      @include tabletAndUp {
        display: flex;
      }
    }

    .title {
      display: flex;
      align-items: center;
      max-width: 450px;
    }

    .meta {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .organization {
        font-size: 1.1rem;
        font-weight: normal;
        color: var(--gray-2);
  
        @include tabletAndUp {
          display: inline;
        }
  
        &::before {
          content: '';
          padding: 0;
          color: var(--gray-4);

          @include tabletAndUp {   
            content: '·';
            padding: 0 .4rem;
          }
        }
      }

      .period {
        color: var(--gray-4);
        font-size: 0.9rem;
        font-weight: normal;

        @include tabletAndUp {
          font-size: 1.1rem;
        }
      }
    }
  }
} 