.noteList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  .empty {
    text-align: center;
    padding: 32px 24px;
    border-radius: 12px;
    background-color: var(--article-background);
    color: var(--gray-5);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  }
}
