---
layout: default
archive: true
readmore: true
category: post
---

<article class="post">
    <section id="post-body">
        {{content}}
    </section>
</article>

<footer id="post-meta" class="clearfix">
    
    <img class="avatar" src="{{ site.avatar }}">
    <div>
        <span class="dark">{{ site.author }}</span>
        <span>{{ site.description }}</span>
    </div>
    

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

{% if site.comments %}
    {% include comments.html %}
{% endif %}

<!-- Archive -->
{% if layout.readmore %}
    <ul class="post-list readmore">
        <h2>Read more</h2>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
