@use '@/styles/abstracts' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tabletAndUp {
    flex-direction: row;
  }

  .postProfileImage {
    display: block;
    flex-shrink: 0;
    margin: 0;
    width: 100px;
    height: 100px;

    & img {
      border-radius: 50%;
    }
  }

  .postDescription {
    margin-top: 0px;
    height: 46px;
  }

  .iconWrapper {
    display: flex;
    margin-top: 16px;
  }
}

.card {
  min-width: 260px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: .5rem;

  @include tabletAndUp {
    padding: 2rem;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;

    @include tabletAndUp {
      flex-direction: row;
      align-items: center;
    }

    .profileImage {
      width: 110px;
      height: 110px;
      border-radius: 25%;
      object-fit: cover;
      flex-shrink: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
      width: 100%;
      
      @include tabletAndUp {
        align-items: flex-start;
        gap: 1rem;
      }
      
      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        width: 100%;

        @include tabletAndUp {
          justify-content: flex-start;
        }

        svg {
          stroke: var(--icon-color);
        }
      }
    }
  }

  .description {
    line-height: 1.6;
    margin-top: 0.5rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    
    p {
      text-align: center;
    }
  }
}
